:root {
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #75b0ff80 50%,
    #b289eb4f 50%
  );
  --vp-home-hero-image-filter: blur(56px);

  --vp-c-indigo-1: #eb89b6;

  .image-container {
    transform: skew(-2deg, 2deg);
    animation: up-down 5s ease-in infinite;
  }
  
  .image-container img {
    border-radius: 5px;
    max-width: 550px !important;
    height: auto !important;
  }
}

@keyframes up-down {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
